.social_divider {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem 0 1rem;
}
.or_divider {
    padding: 0 .85rem;
}
.divider_left,
 .divider_right {
    width: 100%;
    background-color: #17C3B2;
    height: 2px;
}
.social_btn {
    width: 100%;
    font-size: 18px;
    background-color: #17C3B2;
    border: 1px solid #17C3B2;
    color: white;
    padding: .85rem 0;
}

.social_btn:hover {
    background-color: white;
    color: black;
    transition: all 440ms ease;
    -webkit-transition: all 440ms ease;
    -moz-transition: all 440ms ease;
    -ms-transition: all 440ms ease;
    -o-transition: all 440ms ease;
}