.footer_section {
    width: 100%;
    min-height: 40vh;
    /* margin-top: 2rem; */
    background-color: rgb(24, 120, 140);
}
.inner_footer_section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo_section, .useful_link_section {
    width: 33.33vw;
}
.useful_link_section {
    margin-left: 3.5rem;
}
.useful_link {
    color: #e5e5e5ca;
    line-height: .85rem;
    margin-left: .5rem;
}
.footer_header {
    color: white;
}

.logo_container {
    width: 147px;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    font-size: 1.75rem;
    color: white;
    line-height: 1rem;
}

.sub_logo {
    line-height: .75rem;
    font-size: .8rem;
    color: #e5e5e5ca;
    text-transform: uppercase;
}

.logo_divider {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.divider_left,
.divider_right {
    width: 50%;
    background-color: #17C3B2;
    height: 2px;
    margin: .3rem 0;
}

.divider_left {
    margin-right: .3rem;
}

.divider_right {
    margin-left: .3rem;
}
.copyrights_text {
    border-top: 1px solid #dedede9f;
    text-align: center;
}
.copyrights_text p{
    color: #dedede;
    padding: .85rem 0 .5rem;
}
@media only screen and (max-width: 800px) {
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    .footer_section {
        text-align: center;
    }
    .logo_container{
        margin: 0 auto ;
    }
    .inner_footer_section {
        flex-direction: column;
    }
    .logo_section,
    .useful_link_section,
    .contact_us {
        width: 100%;
        margin: 1rem 0 0;
    }
}